<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DNS1_ARM_heater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <DNS1_ARM_heater.Properties.Settings>
            <setting name="slaveID" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PortName" serializeAs="String">
                <value>Com3</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DBadress" serializeAs="String">
                <value>.\WINCC</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>Odd</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="slaveID2" serializeAs="String">
                <value>1</value>
            </setting>
        </DNS1_ARM_heater.Properties.Settings>
    </applicationSettings>
</configuration>